.downloading {
  text-align: center;
  font-size: 2.5em;
}
.provider {
  font-family: $lead-font;
}
.provider input[type=radio] {
  display:none;
}
.provider input[type=radio] + label {
  display:inline-block;
  margin:-2px;
  padding: 4px 12px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-bottom: 2px solid #fafafa;
  color: #777;
}
.provider input[type=radio]:checked + label {
  border-bottom: 2px solid $lead-color;
  color: #2c3e50;
}
.refresh {
  float: right;
  position: absolute;
  right: 10px;
  font-size: 0.8em;
  cursor: pointer;
}
.filter {
  padding: 8px;
  margin: 0;
  background-color:#fafafa;
  border-bottom: 1px solid #e5e5e5;
  top: 0;
  left: 0;
  height: 26px;
  line-height: 26px;
  text-align: center;
}
.subfilter {
  margin: 0;
  padding: 8px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  top: 0;
  left: 0;
  height: 41px;
  line-height: 26px;
  text-align: center;
}
.multiselect-container {
  display: flex;
  justify-content: center;
  > div {
    width: 250px;
    .selectize-input {
      height: 40px;
    }
    &:last-child {
      margin-left: 20px;
    }
  }
}
.multiselect__spinner:before,
.multiselect__spinner:after {
  border-color: $lead-color transparent transparent !important;
}
.multiselect__tag {
  background: $lead-color !important;
}
.multiselect__option--highlight {
  background: $lead-color !important;
}
.multiselect__option--highlight:after {
  background: $lead-color !important;
}
.group-separator {
  font-weight: bold;
  font-size: 1.5em;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
